.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #dcdeca;
}

.head {
    display: flex;
    width: 100%;
    justify-content: center;
}

.miniContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;   
}

.hangmanContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #dcdeca;
  text-align: center;
}

.logInContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  background-color: #dcdeca;
}

.logIn{
    height: 50vh;
    width: 20vw;
}

.tool {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fa6028;
  height: 5vh
}

.paragraph {
    text-align: center;
}

.imgSize {
    height: 70vh;
}